﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Page2.aspx.cs" Inherits="Page2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label1" runat="server" CssClass="Labels" Text="Buyer contact info:"></asp:Label>
            <asp:Label ID="EmailLbl" runat="server" CssClass="Labels"></asp:Label>
        </div>
    </form>
</body>
</html>
