﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="lab2.aspx.cs" Inherits="lab2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="height: 32px">
            <asp:DropDownList ID="playerSelect" runat="server" Width="301px">
                <asp:ListItem>rok</asp:ListItem>
                <asp:ListItem>papr</asp:ListItem>
                <asp:ListItem>scisr</asp:ListItem>
            </asp:DropDownList>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
        </div>
        <br />
            <asp:Label ID="Label1" runat="server" Text="u" Width="50px"></asp:Label>
        <p>
            <asp:Image ID="playerImage" runat="server" Height="200px" Width="200px" />
        </p>
        <p>
            <asp:Label ID="Label2" runat="server" Text="not u" Width="50px"></asp:Label>
        </p>
        <p>
            <asp:Image ID="computerImage" runat="server" Height="200px" Width="200px" />
        </p>
    </form>
</body>
</html>
